/**
 * FF Typescript Foundation Library
 * Copyright 2018 Ralph Wiedemeier, Frame Factory GmbH
 *
 * License: MIT
 */

////////////////////////////////////////////////////////////////////////////////
// FONTS

$font-ui: "Segoe UI", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin font-ui-normal {
  font-family: $font-ui;
  font-weight: 400;
}

@mixin font-ui-bold {
  font-family: $font-ui;
  font-weight: 700;
}

////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-background: #343434 !default;
$color-background-dark: darken($color-background, 5%) !default;
$color-background-darker: darken($color-background, 10%) !default;
$color-background-light: lighten($color-background, 10%) !default;
$color-background-lighter: lighten($color-background, 20%) !default;
$color-background-hover: $color-background-lighter !default;

$color-primary: #0277BD !default; // blue
$color-primary-light: lighten($color-primary, 8%) !default;
$color-primary-dark: darken($color-primary, 8%) !default;

$color-secondary: #E64A19 !default; // orange
$color-secondary-light: lighten($color-secondary, 15%) !default;
$color-secondary-dark: darken($color-secondary, 15%) !default;

$color-text: #c8c8c8 !default;
$color-text-disabled: #808080 !default;
$color-icon: #a0a0a0 !default;
$color-icon-disabled: #606060 !default;

$color-focus: $color-secondary-light;

////////////////////////////////////////////////////////////////////////////////
// MIXINS

@mixin full-size {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

////////////////////////////////////////////////////////////////////////////////
// GLOBAL

html {
  color: $color-text;
}

button, input {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  cursor: inherit;
}

*:focus {
  outline: 1px solid $color-primary;
  outline-offset: 0;
}

////////////////////////////////////////////////////////////////////////////////
// FRAMES

ff-modal-plane {
  background: transparentize($color-background-darker, 0.6);
}

ff-dialog {
  background: $color-background;
  border: 1px solid $color-background;
  box-shadow: 3px 3px 24px rgba(0, 0, 0, 0.4);
}

.ff-frame {
  padding: 4px;

  .ff-control {
    margin: 4px;
  }
}

ff-title-bar {
  background: $color-background-darker;
  padding: 2px;

  .ff-text {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 8px;
  }
  .ff-icon {
    padding: 2px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// ELEMENTS

.ff-text {
  user-select: none;
  pointer-events: none;
}

ff-button {
  background: $color-background-light;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-background-lighter;
  }
  &[selected] {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  button {
    padding: 4px 3px;
  }

  .ff-text {
    padding: 4px 3px;
    white-space: nowrap;
  }
  .ff-icon {
    padding: 4px 3px;
    font-size: 1.3em;
  }
}

ff-line-edit {
  background-color: $color-background-dark;

  input {
    padding: 2px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// TAB CONTAINER

ff-tab-container {
  background: $color-background;
}

ff-tab-header {

}

////////////////////////////////////////////////////////////////////////////////
// DOCK VIEW

$color-dock-frame: $color-background-darker;
$color-dock-background: $color-background;

ff-tab-container, ff-dock-stack {
  background: $color-dock-background;
  border: 1px solid $color-dock-frame;

  & header {
    background: $color-dock-frame;
  }
}

ff-tab-header, ff-dock-panel-header {
  background: $color-dock-frame;
  color: $color-text;
  padding-right: 2px;

  &[active] {
    background: linear-gradient(lighten($color-dock-background, 15%), $color-dock-background);
    color: $color-text;
  }

  label {
    pointer-events: none;
  }
  .ff-text {
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0 3px;
  }
  .ff-icon {
    font-size: 0.8rem;
    padding: 0 3px;
    color: $color-text-disabled;
  }
}

.ff-dock-drop-marker {
  box-sizing: border-box;
  background: transparentize($color-primary, 0.7);
  border: 1px solid $color-primary;
}


